*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$titulo: 'roboto condensed', sans-serif;
$texto: 'lato', sans-serif;

$colorPrincipal: rgb(15, 12, 12);

h1, h2, h3, h4, h5, h6{
    font-family: $titulo;
    color: $colorPrincipal;
}

a, p{
    font-family: $texto;
}

a{
    text-decoration: none;
    font-weight: 700;
    color: $colorPrincipal;
    font-size: 20px;
}

li {
    list-style: none;
    font-family: $texto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}