header {
    padding: 16px 0;
    background-color: rgb(70, 71, 71);
    
    
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        @media (max-width: 768px){
                flex-direction: column;
                align-items: center;
        
        }
    
        

        h1 {
            display: flex;
            flex-basis: 30%;
            cursor: pointer;

            img {
                border-radius: 80%;
                margin-right: 20px;
            }

            @media (max-width: 768px){
                
                    margin-bottom: 20px;
                }

                
        }
        

        nav {
            flex-basis: 65%;
            display: flex;
            justify-content: flex-end;

            a {
                margin-left: 20px;
                padding: 5px 10px;

                &:hover {
                    background-color: $colorPrincipal;
                    border-radius: 10px;
                    color: rgb(211, 19, 45);
                }
            }
            
        }
    }
}


