* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "roboto condensed", sans-serif;
  color: #0f0c0c;
}

a, p {
  font-family: "lato", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #0f0c0c;
  font-size: 20px;
}

li {
  list-style: none;
  font-family: "lato", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  padding: 16px 0;
  background-color: #464747;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  header .header-container {
    flex-direction: column;
    align-items: center;
  }
}
header .header-container h1 {
  display: flex;
  flex-basis: 30%;
  cursor: pointer;
}
header .header-container h1 img {
  border-radius: 80%;
  margin-right: 20px;
}
@media (max-width: 768px) {
  header .header-container h1 {
    margin-bottom: 20px;
  }
}
header .header-container nav {
  flex-basis: 65%;
  display: flex;
  justify-content: flex-end;
}
header .header-container nav a {
  margin-left: 20px;
  padding: 5px 10px;
}
header .header-container nav a:hover {
  background-color: #0f0c0c;
  border-radius: 10px;
  color: #d3132d;
}

footer {
  background-color: #464747;
  color: white;
}
footer h2 {
  margin-top: 10px;
}
footer p {
  text-align: center;
  padding: 12px 0px;
  margin: 20px 0;
  font-size: 14px;
  background-color: #1d1d1d;
}
footer i {
  font-size: 26px;
}
footer .footer-content {
  padding-top: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-content .footer-info {
  font-size: 16px;
}
footer .footer-content .footer-info li:first-of-type {
  margin-bottom: 10px;
}
footer .footer-content .footer-redes {
  display: flex;
}
footer .footer-content .footer-redes li {
  margin-top: 10px;
  margin-right: 20px;
}
footer .footer-content .footer-redes li i {
  cursor: pointer;
}

.banner {
  height: 600px;
  width: 100%;
  background-image: url(../img/banner.jpeg);
  background-position: center center;
}

.index-content {
  margin: 40px auto;
}
.index-content h2 {
  text-align: center;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .index-content p {
    width: 95%;
    margin: 0 auto;
  }
}

.banner2 {
  height: 600px;
  width: 100%;
  background-image: url(../img/turnos.jpeg);
  background-position: center center;
}

:root {
  --color-bg-calendar: #1b1e22;
  --color-cell: #e3e3e3;
  --color-cell-disabled: #424649;
}

.root {
  min-height: 60vh;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_horas {
  font-family: sans-serif;
  padding: 10px 10px;
  margin: 0 550px;
  background-color: var(--color-bg-calendar);
  border-radius: 10px;
  color: white;
  width: 100%;
  max-width: 250px;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_horas .select {
  font-family: sans-serif;
  padding: 5px 5px;
  border-radius: 10px;
  margin: 0 5px;
}

form h2 {
  margin-top: 30px;
  text-align: center;
}

.tiposCortes {
  font-family: sans-serif;
  padding: 15px 5px;
  margin: 10px 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-calendar);
  color: white;
}
.tiposCortes input {
  margin: 0px 15px;
  border: 5px solid black;
}

.infCorte {
  margin: 30 30px;
  padding: 20px 40px;
  background-color: var(--color-bg-calendar);
  border-radius: 10px;
  width: 100%;
  font-family: sans-serif;
  color: white;
}
.infCorte input {
  margin: 0 5px;
  border-radius: 5px;
}
.infCorte .botonCarga {
  margin-left: 150px;
  padding: 8px 8px;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: bold;
}

.calendar {
  padding: 20px 10px;
  background-color: var(--color-bg-calendar);
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  font-family: sans-serif;
}

.calendar-header {
  color: white;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.calendar .control {
  color: white;
  background-color: transparent;
  margin-top: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 0 5px;
}

.month-name {
  color: white;
  margin-top: 15px;
}

.grid_header, .grid_body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid_header {
  color: white;
  margin-bottom: 20px;
}

.grid_body {
  grid-auto-rows: 40px;
  color: var(--color-cell);
}

.grid_cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_cell--gd {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */