@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "roboto condensed", sans-serif;
  color: #0f0c0c;
}

a, p {
  font-family: "lato", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #0f0c0c;
  font-size: 20px;
}

li {
  list-style: none;
  font-family: "lato", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  padding: 16px 0;
  background-color: #464747;
}

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  header .header-container {
    flex-direction: column;
    align-items: center;
  }
}

header .header-container h1 {
  display: flex;
  flex-basis: 30%;
  cursor: pointer;
}

header .header-container h1 img {
  border-radius: 80%;
  margin-right: 20px;
}

@media (max-width: 768px) {
  header .header-container h1 {
    margin-bottom: 20px;
  }
}

header .header-container nav {
  flex-basis: 65%;
  display: flex;
  justify-content: flex-end;
}

header .header-container nav a {
  margin-left: 20px;
  padding: 5px 10px;
}

header .header-container nav a:hover {
  background-color: #0f0c0c;
  border-radius: 10px;
  color: #d3132d;
}

footer {
  background-color: #464747;
  color: white;
}

footer h2 {
  margin-top: 10px;
}

footer p {
  text-align: center;
  padding: 12px 0px;
  margin: 20px 0;
  font-size: 14px;
  background-color: #1d1d1d;
}

footer i {
  font-size: 26px;
}

footer .footer-content {
  padding-top: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-content .footer-info {
  font-size: 16px;
}

footer .footer-content .footer-info li:first-of-type {
  margin-bottom: 10px;
}

footer .footer-content .footer-redes {
  display: flex;
}

footer .footer-content .footer-redes li {
  margin-top: 10px;
  margin-right: 20px;
}

footer .footer-content .footer-redes li i {
  cursor: pointer;
}

.banner {
  height: 600px;
  width: 100%;
  background-image: url(../img/banner.jpeg);
  background-position: center center;
}

.index-content {
  margin: 40px auto;
}

.index-content h2 {
  text-align: center;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .index-content p {
    width: 95%;
    margin: 0 auto;
  }
}

.banner2 {
  height: 600px;
  width: 100%;
  background-image: url(../img/turnos.jpeg);
  background-position: center center;
}

#tituloCatalogo {
  text-align: center;
  padding: 10px;
  margin-top: 10px 0px;
  font-size: 50px;
}

#Catalogo {
  display: flex;
  margin-top: 20px;
}

#Catalogo img {
  padding: 5px;
  margin: 5px 20px;
  border-radius: 10px;
  background-color: #1b1e22;
}

#Catalogo h3 {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Catalogo div {
  background-color: honeydew;
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 100px;
}

#Catalogo p {
  font-family: sans-serif;
  font-size: 13px;
}

#Catalogo a {
  text-decoration: none;
  color: cornsilk;
}

.precioP {
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 20px;
}

.botonW {
  background-color: #1b1e22;
  border-radius: 10px;
  padding: 10px 5px;
  font-size: 13px;
  margin-top: 100px;
}

:root {
  --color-bg-calendar: #1b1e22;
  --color-cell: #e3e3e3;
  --color-cell-disabled: #424649;
}

.calendario {
  background-color: brown;
  width: 80%;
  max-width: 600px;
  margin: 16px auto;
  padding: 20px 0;
  border-radius: 10px;
}

.calendario .calendario-info {
  display: flex;
  align-items: center;
  padding: 0 32px;
  font-size: 25px;
  text-transform: uppercase;
}

.calendario .calendario-prev, .calendario .calendario-next {
  color: burlywood;
  cursor: pointer;
  font-size: 18px;
}

.calendario .calendario-prev {
  margin-right: auto;
}

.calendario .calendario-next {
  margin-left: auto;
}

.calendario .calendario-semana, .calendario .calendario-fecha {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.calendario .calendario-mes, .calendario .calendario-año {
  padding: 8px 16px;
  font-family: sans-serif;
}

.calendario .calendario-item {
  text-align: center;
  line-height: 2;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: bold;
}

.calendario .calendario-hoy {
  background-color: #acacac;
  width: 50%;
  border-radius: 10px;
  margin: auto;
}

.calendario .calenadario-dias_antes {
  opacity: .3;
}

.fechas:hover {
  background-color: #0f0c0c;
  border-radius: 10px;
  color: #d3132d;
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

.horarios {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.horarios .botonHora {
  background-color: brown;
  border: solid 1px black;
  padding: 10px 25px;
  margin: 5px 10px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.tiposCortes {
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 0px;
  margin-bottom: 60px;
  width: 900px;
  margin: 16px auto;
}

.tiposCortes .inputCorte {
  margin: 10px 35px;
  padding: 5px 5px;
  border-radius: 10px;
  cursor: pointer;
}

.tiposCortes .spanCorte {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}

.infCorte {
  background-color: brown;
  display: grid;
  justify-content: center;
  width: 400px;
  margin: 16px auto;
  margin-top: 50px;
  padding: 10px 0px;
  border-radius: 10px;
  font-family: sans-serif;
}

.infCorte label {
  margin-top: 10px;
  font-weight: bold;
}

.infCorte input {
  margin: 5px 0px;
  border-radius: 10px;
  width: 120%;
  padding: 5px 2px;
}

.infCorte .botonCarga {
  margin: 20px 0px;
  padding: 10px 4px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */